# Secrets configuration template
WEB_APP_URL=https://tennis-scoring.vercel.app
API_BASE_URL=https://tennisscoring-40165.firebaseapp.com
API_SECRET_KEY=your_api_secret_key_here
FIREBASE_PROJECT_ID=tennisscoring-40165
FIREBASE_WEB_CLIENT_ID=389382735268-6l1a3m3e3ojm7lnkgknsrdr2nhfvcndj.apps.googleusercontent.com
