# Secrets configuration template
WEB_APP_URL=https://tennis-scoring.vercel.app
API_BASE_URL=https://tennisscoring-40165.firebaseapp.com
API_SECRET_KEY=b880usevqwBRWPQ7eUVNLQwKTx5sYbZ3
FIREBASE_PROJECT_ID=tennisscoring-40165
FIREBASE_WEB_CLIENT_ID=your_google_oauth_web_client_id.apps.googleusercontent.com
